@font-face {
	font-family: Tusker;
	src: url('./Assets/Fonts/TuskerGrotesk-2600Semibold.ttf');
}
@font-face {
	font-family: Neue;
	src: url('./Assets/Fonts/NeueMontreal-Medium.otf');
}
@font-face {
	font-family: Migra;
	src: url('./Assets/Fonts/Migra-Extrabold.ttf');
}

:root {
  --white: #fff;
  --black: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.header {
  background-image: url('./Assets/Imgs/backgroundhero.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--white);
  width: 100%;
  text-align: center;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar::after {
  content: "";
  display: block;
  width: 90%;
  border-bottom: 1px solid var(--white);
  position: absolute;
  bottom: 0;
  left: 5%;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  margin-left: 4px;
  text-transform: lowercase;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left a {
  text-decoration: none;
}

.navbar-title {
  font-family: 'Migra', sans-serif;
  color: var(--white);
  margin: 0;
  margin-right: 10px;
}

.navbar-subtitle {
  font-family: 'Neue', sans-serif;
  margin: 0;
  color: var(--white);
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-title {
    margin-bottom: 10px;
  }

  .navbar-subtitle {
    display: none;
  }

  .navbar-right {
    margin-top: 10px;
  }

  .navbar-links {
    display: flex;
    align-items: center;
  }

  .navbar-links a {
    margin-right: 10px;
  }
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 10%;
  position: relative;
  height: 90%;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start; /* Alinea el contenido al centro verticalmente */
  color: var(--white);
  height: 100%;
  padding-left: 0%;
  display: flex;
  justify-content: center; /* Alinea el contenido al centro horizontalmente */
}


.hero-prefix {
  font-family: 'Migra', sans-serif;
  font-size: 4vh;
  margin: 0;
  text-decoration: underline;
}

.hero-title h1 {
  font-family: 'Tusker', sans-serif;
  font-size: 22vh;
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-description {
  text-indent: 80px;
  font-family: 'Neue', sans-serif;
  font-size: 3vh;
  color: var(--white);
  text-transform: uppercase;
}
